*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.icons{
    display: flex;
    justify-content: space-between;
}

@media only screen and(max-width: 1097px){
    .icons{
        display: flex!important;
        justify-content: center;
        margin: 0px 25px;
    }
}


.navbar{
    background-color: #f7f8fa !important;
}

.nav-link1, .nav-link:hover{
    background-color: #316DC3!important;
    border-radius: 20px;
    font-weight: 500;
    color: #fff!important;
    font-size: 13px;
    text-decoration: none!important;
    font-weight: bold;

}

@media only screen and(max-width: 992px){
    
.nav-link1, .nav-link:hover, li{
    width: 100%;
    background-color: #316DC3!important;
    font-weight: 500;
    border-radius: 2px!important;
    color: #fff!important;
    font-size: 13px;
    text-decoration: none!important;
    text-align: center;

}    
}

.nav-link{
    color: #333333;
    font-size: 13px;
    font-weight: 600;
}

.carousel-item img{
    max-height: 550px;
}

